<!-- Local css documents -->
<link rel="stylesheet" type="text/css" href="/globalResources/css/general.css"/>
<link rel="stylesheet" type="text/css" href="/globalResources/css/typeFace.css"/>
<link rel="stylesheet" type="text/css" href="/globalResources/css/topNavigation.css"/>
<!-- Google font -->
<link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
<!-- jQuery Css -->
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"/>
<!-- Fancy Box Css-->
<link rel="stylesheet" href="/frameworks/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<!-- BootStrap Css -->
<link rel="stylesheet" type="text/css" href="/frameworks/bootstrap/css/bootstrap.min.css"/>
