	
	<div class="topNav wrapper">
	
	<div class="topNav controls">
		<div class="topNav leftContainer">
			<ul class="navi list">
				<li><a href="/sites/nursingcenter/?category=info">Information</a>
					<div class="navi callout"></div>
					<div class="navi subMenu container">
						<ul class="navi subNavList">
						<h4>General</h4>
						<li><a href="#">Admission Information</a></li>
						<li><a href="#">Schedule a Tour</a></li>
						<li><a href="#">Mission Statement</a></li>
						</ul>
						<div class="navi subNav divider"></div>
						<ul class="navi subNavList">
						<h4>Employment</h4>
						<li><a href="#">Open Positions</a></li>
						<li><a href="#">Contact Information</a></li>
						<li><a href="#">Employee Login</a></li>
						</ul>
					</div>
				</li>
				<li><a href="/sites/nursingcenter/?category=services">Services</a>
				<div class="navi callout"></div>
					<div class="navi subMenu container" style="width:525px;">
						<ul class="navi subNavList">
						<h4>Types of Care</h4>
						<li><a href="#">Respite Care</a></li>
						<li><a href="#">Independent Living</a></li>
						<li><a href="#">Personal Care</a></li>
						</ul>
						<div class="navi subNav divider" style="left:43%;"></div>
						<ul class="navi subNavList" style="width:250px;">
						<h4>Departments</h4>
						<li><a href="#">Activities</a></li>
						<li><a href="#">Rehab Services</a></li>
						<li><a href="#">Nursing</a></li>
						<li><a href="#">Housekeeping</a></li>
						<li><a href="#">Dietary</a></li>
						<li><a href="#">Social Services</a></li>
						<li><a href="#">Maintenance</a></li>					
						</ul>
					</div>				
				</li>
			</ul>
		</div>
		
		<div class="topNav logo"><a href="/index.php"><img src="/globalResources/media/logo.jpg"/></a></div>	
		
		<div class="topNav rightContainer">
			<ul class="navi list">
				<li><a href="/sites/nursingcenter/?category=about">About Us</a>
				<div class="navi callout"></div>
					<div class="navi subMenu container" style="left:-50%;width:200px;">
						<ul class="navi subNavList">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Directions</a></li>
						<li><a href="#">Image Gallery</a></li>
						</ul>
						
					</div>
				</li>
				<li><a href="#">Contact</a>
				<div class="navi callout"></div>
					<div class="navi subMenu container" style="left:-50%;width:225px;">
						<ul class="navi subNavList">
						<li><a href="#">Send A Message</a></li>
						<li><a href="#">Leave Feedback</a></li>
						<li><a href="#">Staff Directory</a></li>
						</ul>				
					</div>				
				</li>
			</ul>
		</div>
	</div>
	
	<div class="navi bg">
		<div class="naviAccent top"></div>
		<div class="naviAccent bottom"></div>
	</div>
	</div><!-- End topNav class -->